#header {
    background-color: rgb(66, 64, 64);
    height: 100px;
    justify-content: center;
}

#intro {
    background-color: rgb(5, 50, 102);
    color: rgb(224, 206, 206);
    float: left;
    width: 30%;
    text-align: center;
}

#main {
    background-color: red;
    float: right;
    width: 70%;
    text-align: center;
}

#profilepic {
    width: 200px;
}

#profile {
    margin-bottom: 0px;
    text-align: left;
}

#summary {
    margin-top: 0px;
    padding-top: 0px;
    border-top: 3px solid rgb(255, 2, 2);
    text-align: left;
}

#core {
    width: fit-content;
    border-bottom: 1px dotted red;
    text-align: left;
}

ul li {
    list-style-type: square;
    text-align: left;
}

label {
    font-size: xx-large;
    font-weight: 400;
    color: red
}

#careertable{
    text-align: center;
    background-color: rgb(5, 50, 102);
    padding: 1%;
}

.head {
    background-color: rgb(167, 112, 102);
}

.even {
    background-color: rgba(221, 109, 109, 0.781);
}

.odd {
    background-color: brown;
}

nav{
    text-align: right;
    font-size: large;
    
}

nav a{
    color: aliceblue;
}

#educationtable{
    text-align: center;
    background-color: rgb(5, 50, 102);
    padding: 1%;
}

#edutable{
    position: relative;
    left: 30%;
    height: 200px;
    width: 400px;
}

#qualtable{
    position: relative;
    left: 30%;
    height: 200px;
    width: 400px;
}

#educationtable .even{
    background-color: rgb(77, 111, 204);
}

#educationtable .odd{
    background-color: rgb(21, 60, 168);
}

#educationtable .head{
    background-color: rgb(135, 143, 167);
}

#educationtable caption{
    font-size: xx-large;
    font-weight: 400;
    color: blue;
}

#header img{
    height: auto;
    width: auto;
    left: 5%;
    top: 35px;
    height: 50px;
}