#header{
    background-color: blue;
    height: 100px;
}

#intro{
    background-color: green;
    float: left;
    width: 30%;
}

#main{
    background-color: red;
    float: right;
    width: 70%;
}

#profilepic{
    height: 200px;
}